@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
}

@layer base {
  * {
    font-family: "Poppins", sans-serif;
  }
}
