services:
  client:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: greencart-client
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules # Prevents local node_modules from overwriting container
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: greencart-server
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    volumes:
      - ./server:/app
      - /app/node_modules
    depends_on:
      - mongo

  mongo:
    image: mongo:7.0
    container_name: greencart-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: